body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: auto; /* Разрешаем прокрутку для длинного контента */
    background: url('background.jpg') no-repeat fixed center center;
    background-size: cover;
    animation: animateBackground 20s linear infinite;
}

@keyframes animateBackground {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 100% 100%;
    }
}

.container {
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    width: 100%;
    text-align: center;
    max-height: 90vh; /* Ограничиваем максимальную высоту контейнера */
    overflow-y: auto; /* Добавляем вертикальную прокрутку для контейнера */
}

button {
    margin: 10px;
    padding: 15px 25px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #45a049;
}

button:focus {
    outline: none;
}

h1, h2 {
    color: #333;
}

ul {
    text-align: left;
    padding-left: 20px;
}

#fullscreen {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 2em;
}

#fullscreen-content {
    text-align: center;
}

.task-link {
    text-decoration: none;
    color: white;
}

.task-button {
    display: block;
    margin: 0 auto 10px;
    padding: 15px 25px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s ease;
    text-decoration: none;
}

.task-button:hover {
    background-color: #0056b3;
}

.task-button:focus {
    outline: none;
}
